# Local environment setup
.direnv
.envrc
.claude/
.devcontainer
default.nix

# Packages
node_modules/

# Build output
dist/

# Previous iteration and local testing
example-src/
prev-source/
daveus-app/
logs/
