# Local environment setup
/.direnv
/.envrc
/.claude/
/default.nix
/samples

# Packages
node_modules/

# Build output
dist/

# Previous iteration and local testing
/logs/
/example-src/
/prev-source/
/tmux-dev

/confidante
/gatekeeper
/muteworker
/tsx-watch
